
@{
    ViewData["Title"] = "Display";
}

<h1>Display</h1>

<b>Student Information</b>
@ViewBag.student.Id

<br/>
@ViewBag.student.Name
@ViewBag.student.Address
@ViewBag.student.Score


