@model IEnumerable<Assignment_20_Collection.Models.Student>
@{
    ViewData["Title"] = "List1";
}

<h1>List1</h1>
<h1>List of Student</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Score</th>
    </tr>
@foreach(var student in Model)
{
    {
     <tr>
         <td>@student.Id </td>
         <td>@student.Name</td>
         <td>@student.Address</td>
         <td>@student.Score</td>
     </tr>
    }
}
</table>


