@model Assignment_20_Collection.Models.Student
@{
    ViewData["Title"] = "Show";
}

<h1>Show</h1>

<b>
    @Model.Id<br/>
    @Model.Name<br />
    @Model.Address<br />
    @Model.Score<br />
</b>

